version: "3.8"

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  elt_script:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    volumes:
      - ./elt_script:/app/elt_script
      - ./data:/data
      - ./logs:/logs
    working_dir: /app
    command: python -u elt_script/elt_script.py

volumes:
  db_data:
